{% extends 'base.html' %}
{% block page_title %}View Cart{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="bannerImgArea">
        <h1 class="pageHeading">Your Cart</h1>
        <img src="../static/img/cart.jpeg" alt="cartImage" class="pageBannerImg">
    </div>
<!--Display a row for every item in users cart-->
{% for product in cart_items %}
<div class="cartRow">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {% if product.instrument.get_image %}
                <img src = "{{bucket}}{{product.instrument.get_image.image}}">
            {% else %}
                <i class="fas fa-music"></i>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-7">
            <h3>Product:{{product.instrument.brand}} {{product.instrument.name}}</h3>
        </div>
        <div class="col-sm-12 col-md-2">
            <h6>Qty: {{ product.quantity}} @ &euro;{{ product.instrument.cost }} each</h6>
            <div class="cartAdjustAmount">
                <form action = "{% url 'cart:adjust' product.instrument.id %}" method = "POST" onsubmit = "validQuantityCheck(this, event)">
                    {% csrf_token %}
                    <input type="number" name="quantity" min = "0" max = "{{product.instrument.stock_amount}}" value = "{{product.quantity}}">
                    <button class = "btn btn-warning" type="submit" value="Submit"/>Adjust</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--If there are items in the cart, display buttons for emptying the cart or proceeding to checkout-->
{% if cart_items %}
<div class="cartTotalArea">
<h4>Total: {{total}}</h4>
<a href="{% url 'cart:empty_cart' %}"><button class = "btn btn-primary"><i class="fas fa-check-circle"></i>Empty Cart</button></a>
<a href="{% url 'payment_form' %}"><button class = "btn btn-success"><i class="fas fa-check-circle"></i>Checkout</button></a>
{% endif %}
</div>
{% endblock content %}
