{% extends 'base.html' %}
{% block page_title %}View Instruments{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="specificInstrumentWrap">
        <div class="row">
            <div class="col-sm-6">
            <!--Option to edit the product details if the user is staff-->
                {% if user.is_staff%}
                    <a href = "{% url 'instrument:edit' product.id %}"><button class = "btn btn-primary"><i class="fas fa-edit"></i></button></a>
                {% endif %}
                <div class="instrumentTextBox">
                    <h1>{{ product.brand }} {{ product.name }}</h1>
                    <h2>{{ product.instrument_type }}</h2>
                    <h2>Price: &euro;{{ product.cost }}</h2>
                    <h2>{{product.stock_amount}} in stock!</h2>
                    <p>{{product.description}}</p>
                </div>
                 <div class="cardButtonWrap">
                    <!--Form below will allow user to add multiple amounts of instrument to cart-->
                    {% if product.stock_amount > 0 %}
                        <form action = "{% url 'cart:add' product.id %}" method = "POST" onchange = "validQuantityCheck(this, {{product.stock_amount}})">
                            {% csrf_token %}
                            <input type="number" name="quantity" min = "0" max = "{{product.stock_amount}}" value = "0"/>
                            <input class = "btn btn-success" type="submit" value="Add to Cart"/>
                        </form>
                    <!--If stock is 0 display a button requesting to be notified when product is back in stock-->
                    {% else %}
                        <a class = "btn btn-warning" href = "{% url 'sns_notifications:stock_notify' product.id %}">Notify me of restock</a>
                    {% endif %}
                </div>
    		</div>
    		<div class="col-sm-6">
                <!--If the instrument has an image, display it-->
                {% if product.get_image %}
                    <img src = "{{bucket}}{{product.get_image.image}}">
                {% else %}
                    <i class="fas fa-music"></i>
                {% endif %}
            </div>
        </div>
        <!--Row for user comments-->
        <div class="row">
            <div class="comments">
                <h1>User Feedback</h1>
                    {% for comment in product.get_comments %}
                    
                    {% empty %}
                    <h1>No Comments Yet</h1>
                    {% endfor %}
					<!--If there are no comments-->

					<!--Show comments if there are comments-->
					<div th:unless="${comments =='emptyRepo'}">
						<th:block th:each="comment: ${comments}">
							<div class="comment">
								<div class="row">
									<div class="col-sm-12 col-md-1">
										<p>Posted By:</p>
										<i class="fas fa-user"></i>
										<p th:text="${comment.userId.firstName}"></p>
									</div>
									<div class="col-sm-12 col-md-11 order-first order-md-2">
										<p th:text="${comment.comment}"></p>
									</div>
								</div>
								<!--Each comment will have a delete option if the user is a logged in admin-->
								<div class="buttonWrap">
									<a sec:authorize="isAuthenticated() && {#authentication.getPrincipal().getRoleId == 1}" th:href = "@{'/deleteComment/'} + ${comment.commentId}">
										<button class="btn btn-danger">Delete</button>
									</a>
								</div>
							</div>
						</th:block>
					</div>
					<!--If the user is a logged in user they will have the ability to post a comment here-->
					<div sec:authorize="isAuthenticated()">
						<!--If there are no comments to display-->
						<div class="text-center">
							<!-- <p>Be the first to post a comment</p>
									<button class = "btn btn-success" onclick = "displayCommentForm(this)">Leave Comment</button> -->
							<form method="post" action="/postComment" id="reviewCommentForm">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
								<!--Get the reviews id-->
								<input type="hidden" th:value="${review.reviewId}" name="reviewId">
								<div class="form-group">
									<textarea th:if="${comments =='emptyRepo'}" name="comment"
										placeholder="There are no comments for this instructor yet. Be the first to leave a comment!"></textarea>
									<textarea th:unless="${comments =='emptyRepo'}" name="comment"
										placeholder="Leave a Comment!"></textarea>
								</div>
								<button type="submit" class="validButton">Leave Comment</button>
							</form>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
