{% extends 'base.html' %}
{% block page_title %}View Instruments{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="specificInstrumentWrap">
        <div class="row">
            <div class="col-sm-6">
                <div class="instrumentTextBox">
                    <h1>{{ product.brand }} {{ product.name }}</h1>
                    <h2>{{ product.instrument_type }}</h2>
                    <h2>Price: &euro;{{ product.cost }}</h2>
                    <h2>{{product.stock_amount}} in stock!</h2>
                    <p>{{product.description}}</p>
                </div>
                 <div class="cardButtonWrap">
                        <!--Form below will allow user to add multiple amounts of instrument to cart-->
                        {% if product.stock_amount > 0 %}
                            <form action = "{% url 'cart:add' product.id %}" method = "POST">
                                {% csrf_token %}
                                <input type="number" name="quantity" min = "0" max = "{{product.stock_amount}}" value = "0"/>
                                <input class = "btn btn-primary" type="submit" value="Add to Cart"/>
                            </form>
                        <!--If stock is 0 display a button requesting to be notified when product is back in stock-->
                        {% else %}
                            <a class = "btn btn-warning" href = "{% url 'sns_notifications:stock_notify' product.id %}">Notify me of restock</a>
                        {% endif %}
                </div>
    		</div>
    		<div class="col-sm-6">
                <!--If the instrument has an image, display it-->
                {% if product.get_image %}
                    <img src = "{{bucket}}{{product.get_image.image}}">
                {% else %}
                    <i class="fas fa-music"></i>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="comments">
                <h1>User Feedback</h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
