{% extends 'base.html' %}
{% block page_title %}View Instruments{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="specificInstrumentWrap">
        <div class="row">
            <div class="col-sm-6">
                <!--Option to edit the product details if the user is staff-->
                {% if user.is_staff%}
                <a href="{% url 'instrument:edit' product.id %}"><button class="btn btn-primary"><i class="fas fa-edit"></i></button></a>
                {% endif %}
                <div class="instrumentTextBox">
                    <h1>{{ product.brand }} {{ product.name }}</h1>
                    <h2>{{ product.instrument_type }}</h2>
                    <h2>Price: &euro;{{ product.cost }}</h2>
                    <h2>{{product.stock_amount}} in stock!</h2>
                    <p>{{product.description}}</p>
                </div>
                <div class="cardButtonWrap">
                    <!--Form below will allow user to add multiple amounts of instrument to cart-->
                    {% if product.stock_amount > 0 %}
                    <form action="{% url 'cart:add' product.id %}" method="POST" onchange="validQuantityCheck(this, {{product.stock_amount}})">
                        {% csrf_token %}
                        <input type="number" name="quantity" min="0" max="{{product.stock_amount}}" value="0" />
                        <input class="btn btn-success" type="submit" value="Add to Cart" />
                    </form>
                    <!--If stock is 0 display a button requesting to be notified when product is back in stock-->
                    {% else %}
                    <a class="btn btn-warning" href="{% url 'sns_notifications:stock_notify' product.id %}">Notify me of restock</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <!--If the instrument has an image, display it-->
                {% if product.get_image %}
                <img src="{{bucket}}{{product.get_image.image}}">
                {% else %}
                <i class="fas fa-music"></i>
                {% endif %}
            </div>
        </div>
        <!--Row for user comments-->
        <div class="row">
            <div class="comments">
                <h1>User Feedback</h1>
                {% for comment in product.get_comments %}
                <div class="comment">
                    <div class="row">
                        <div class="col-sm-12 col-md-1">
                            <p>Posted by:</p>
                            <i class="fas fa-user"></i>
                            <p>{{ comment.user.f_name}}</p>
                        </div>
                        <div class="col-sm-12 col-md-11 order-first order-md-2">
                            <!--Each comment will have a delete option if the user is staff-->
                            {% if user.is_staff %}
                            <a href="{% url 'instrument:delete_comment' comment.id %}">
                                <i class="fas fa-times-circle"></i>
                            </a>
                            {% endif %}
                            <p> {{ comment.comment}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    {% endfor %}
                    {% if user.is_anonymous %}
                    <!--Buttons to allow user to login or register to leave a comment-->
                    <div class="commentButtonWrap">
                        <p>To leave a comment</p>
                        <a href="{% url 'login_form' %}"><button class="btn btn-success">Login</button></a>
                        <a href="{% url 'registration_form' %}"><button class="btn btn-primary">Register</button></a>
                    </div>
                    {% else %}
                    <!--If the user is a logged in user they will have the ability to post a comment here-->
                    <form method="post" id="userCommentForm">
                        {% csrf_token %}
                        <!--Get the reviews id-->
                        <input type="hidden" value="{{product.id}}">
                        <div class="form-group">
                            <textarea placeholder="Type your comment" name="comment"></textarea>
                        </div>
                        <div class="commentButtonWrap">
                            <button type="submit" class="btn btn-success">Post Comment</button>
                        </div>
                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
