{% extends 'base.html' %}
{% block page_title %}Add Product{% endblock %}
{% block content %}
<h1>View Instruments</h1>
<!--if no instruments in database, display that information-->
{% if instruments|length < 1 %}
    <h3>There are currently no instruments to display</h3>
{%else %}
<div class = "container">
    <div class="row">
        <!--Create a card for each instruent in the database-->
        {% for instrument in instruments %}
            <div class="col-sm-3">
                <div class="card">
                    <h5>{{ instrument.brand}} {{ instrument.name}}</h5>
				</div>
			</div>
		{% endfor %}
{% endif %}
{% endblock content %}